@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: burlywood;
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}